body 
{
    color : white;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    background-color : rgb(10,10,10);
}

h1,h2
{
/*    font-family: "8bitOperatorPlus-Bold", monospace;
    font-weight: normal;*/
    text-align: center;
    border-bottom : medium dotted rgb(50,50,50);
    width : 33%;
    margin-left : 33%;
    margin-right : 33%;
}


p,li
{
    text-align : center;
    list-style-position: inside;
    padding : 08px;
}

a
{
    color : white;
}

table
{
    border-top : medium dotted rgb(50,50,50);
    border-bottom : medium dotted rgb(50,50,50);
    padding : 4px;  
    margin-left : 10%;
    margin-right : 10%;
}

th
{
    border-right : medium dotted rgb(50,50,50);
    padding : 10px;
    font-weight : normal;
}

td
{
    text-align : center;
    cursor : pointer;
}

td:hover
{
    background-color : rgb(50,50,50);
}

input
{
    padding : 10px;
    font-size : 16px; 
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    cursor : pointer;
    background-color : black;
    color : white;
    border-color : black;  
    display:inline-block;
    width: 100%;
}

#wrapper
{
    position : relative;
    width : 80%;
    top : 50px;
    margin-left : 10%;
    margin-right : 10%;
    padding-bottom : 700px;
    background-color: black;
}

#papyrus
{
    display : block;
    margin-left : auto;
    margin-right : auto;
    height : 300px;
    width : 300px;
    background-color : black;
}











