body 
{
    color : white;
    font-family : 'Open Sans', sans-serif;
    background-color : rgb(10,10,10);
}

h1,p
{
    text-align: center
}

td
{
    padding : 10px;
    border : medium dotted purple;
    text-align : center;
    cursor : pointer;
}

/*td:hover
{
    background-color : rgb(10,10,10);
}
*/
#wrapper
{
    position : relative;
    width : 75%;
    top : 50px;
    margin-left : 15%;
    margin-right : 15%;
    padding-bottom : 700px;
}


table.combo_table 
{
    margin-left:auto; 
    margin-right:auto;
}